// Fonts
$font-montserrat: 'Montserrat', sans-serif;

// Colors
$color-black: #141212;
$color-black--light: #212121;
$color-gray: #FAF9F9;
$color-gray--middle: #BDBDBD;
$color-gray--dark: #9F9494;
$color-white: #fff;
$color-red: #ba160a;
$color-yellow: #FBC02B;
$color-yellow--light: #FFEB3B;
$color-green: #6AC259;


