//- Mobile-menu

.mobile
    ul.mobile__list
        li.mobile__item
            a(href="#main").mobile__link.js-active Главная
        li.mobile__item
            a(href="#about").mobile__link О Нас
        li.mobile__item
            a(href="#conditions").mobile__link Условия
        li.mobile__item
            a(href="#registration").mobile__link Регистрация
        li.mobile__item
            a(href="#contacts").mobile__link Контакты