//- Socials

.socials
    .socials__list
        a.socials__item.socials__item--phone(href="#")
            svg.socials__icon
                use(xlink:href='#phone-green')
        a.socials__item.socials__item--whatsapp(title="WhatsApp" href="https://api.whatsapp.com/send?phone=380631871562")
            svg.socials__icon
                use(xlink:href='#whatsapp')
        a.socials__item.socials__item--viber(title="Telegram" href="tg://resolve?domain=YandexTaxist")
            svg.socials__icon
                use(xlink:href='#viber')
        a.socials__item.socials__item--telegram(title="Viber" href="viber://add?number=380631871562")
            svg.socials__icon
                use(xlink:href='#telegram')
        .socials__item.socials__item--circle