//- About

section.about#about
    .container
        .row.about__wrapper
            .about__headline
                h2.about__title.wow.slideInDown
                    span Я
                    | ндекс Такси
                p.about__subtitle.wow.slideInUp Мы предлагаем своим водителям лучшие условия работы, круглосуточную техподдержку и стабильную ежедневную выплату бонусов. Мы уже работаем в таких странах как Украина, Казахстан, Узбекистан, Киргизия, Литва, Израиль, планируем запуститься в Румынии. Больше 20 000 водителей работают с нами и довольны нашим сервисом. Приглашаем Вас, стать частью нашей команды таксопарка