//- Advantages

section.advantages
    .headline.advantages__headline
        h3.headline__title Приемущества работы с 
            span Нами
    .container 
        .row
            .advantages__item.col-md-6.col-sm-12.wow.slideInLeft
                .advantages__picture
                    svg.advantages__icon
                        use(xlink:href='#team')
                .advantages__text
                    h4.advantages__title 
                        span Быстрый 
                        | Старт
                    p.advantages__desc  Мы бесплатно подключаем водителей к Яндекс такси в течении одного дня с минимальным пакетом документов.         
            .advantages__item.col-md-6.col-sm-12.wow.slideInRight
                .advantages__picture
                    svg.advantages__icon
                        use(xlink:href='#car')
                .advantages__text
                    h4.advantages__title 
                        span Высокий 
                        | Доход
                    p.advantages__desc Заработанный доход, включая бонусы, поступает на Вашу банковскую карту без задержек.         
            .advantages__item.col-md-6.col-sm-12.wow.slideInLeft
                .advantages__picture
                    svg.advantages__icon
                        use(xlink:href='#checked')
                .advantages__text
                    h4.advantages__title 
                        span Низкая 
                        | Комиссия
                    p.advantages__desc  Минимальная комиссия на рынке и максимальный сервис нашим водителям. Работаем исключительно по договору          
            .advantages__item.col-md-6.col-sm-12.wow.slideInRight
                .advantages__picture
                    svg.advantages__icon
                        use(xlink:href='#time-is-money')
                .advantages__text
                    h4.advantages__title 
                        span Свободный 
                        | График
                    p.advantages__desc  Выезжайте на маршрут когда удобно. И берите столько заказов сколько сможете выполнить.Совмещайте и зарабатывайте больше          
            .advantages__item.col-md-6.col-sm-12.wow.slideInLeft
                .advantages__picture
                    svg.advantages__icon
                        use(xlink:href='#support')
                .advantages__text
                    h4.advantages__title 
                        span Поддержка 
                        | 24/7
                    p.advantages__desc  Служба поддержки водителей
                     span  Я
                     | НДЕКС такси всегда ответит на вопросы и предоставит техническую поддержку 24/7          
            .advantages__item.advantages__item--left.col-md-6.col-sm-12.wow.slideInRight
                .advantages__picture
                    svg.advantages__icon
                        use(xlink:href='#map')
                .advantages__text
                    h4.advantages__title 
                        | Без 
                        span Холостого  
                        | Пробега
                    p.advantages__desc  Не тратьте время на поиски клиентов – у нас самое большое количество заказов         
    .advantages__registration
        .container
            .row
                .advantages__subtitle.col-md-8.col-sm-12 Достаточно заполнить форму ниже и уже 
                    span сегодня 
                    | вы сможете подключиться
                .advantages__btn.col-md-4.col-sm-12  
                    a(href="#registration").btn Регистрация        