//- Benefits

section.benefits#benefits
    .container
        .benefits__slide
            .row
                .benefits__item.col-sm-12.col-md-3.col-lg-3
                    .benefits__picture
                        svg.benefits__icon
                            use(xlink:href='#percentage-discount')
                    p.benefits__text Самая Низкая комиссия в городе
                .benefits__item.col-sm-12.col-md-3.col-lg-3
                    .benefits__picture
                        svg.benefits__icon.benefits__icon--bank
                            use(xlink:href='#banknote')
                    p.benefits__text Стабильный доход, зарабатывыйте  
                            | в свободное время
                .benefits__item.col-sm-12.col-md-3.col-lg-3
                    .benefits__picture
                        svg.benefits__icon
                            use(xlink:href='#piggy-bank')
                    p.benefits__text Выплата бонусов от компании
                .benefits__item.col-sm-12.col-md-3.col-lg-3
                    .benefits__picture
                        svg.benefits__icon
                            use(xlink:href='#thumbs-up')
                    p.benefits__text Большое количество заказов