//- Conditions

section.conditions#conditions
    .headline.conditions__headline
        .headline__title Условия для работы в
            span  Яндекс 
            | Такси
    .container
        .row.conditions__wrapper
            .conditions__item.col-md-4.col-sm-12
                .conditions__picture
                    svg.conditions__icon
                        use(xlink:href='#contract')
                .conditions__text Автомобиль в исправном состоянии. С чистым салоном и хорошим внешним видом.        
            .conditions__item.col-md-4.col-sm-12
                .conditions__picture
                    svg.conditions__icon
                        use(xlink:href='#rocket')
                .conditions__text Планшет, смартфон Android c GPS и 3G.Наличие Мобильного интернета        
            .conditions__item.col-md-4.col-sm-12
                .conditions__picture
                    svg.conditions__icon
                        use(xlink:href='#pay-per-click')
                .conditions__text Возраст от 19-ти лет. Стаж вождения от 1-го года.   
            .conditions__line.conditions__line--left
            .conditions__line.conditions__line--right       