//- FAQ

//- +380675284784
//- +380631871562

section.faq
    .headline
        .headline__title Часто задаваемые  
            span Вопросы
    .container
        .row
            .faq__wrapper#accordion
                
                    .faq__headline.js-is-active
                        h4.faq__title Как подключится к Яндекс такси?
                        span.faq__line.faq__line--top
                        span.faq__line.faq__line--bottom
                    .faq__content.js-is-active
                        p.faq__text Пройдите регистрацию на нашем сайте или позвоните на нашу горячую линию  
                            | +38 
                            span (063) 
                            | 187-15-62
                
                    .faq__headline
                        h4.faq__title Какое усторойство подходит для работы в приложении?
                        span.faq__line.faq__line--top
                        span.faq__line.faq__line--bottom
                    .faq__content
                        p.faq__text Любой мобильный телефон или планшет на базе операционной системы 
                            span Android (4.0 и выше)
                            | .
                
                    .faq__headline
                        h4.faq__title Могу ли я подключиться к Вам, если я уже работаю в другом таксопарке
                        span.faq__line.faq__line--top
                        span.faq__line.faq__line--bottom
                    .faq__content
                        p.faq__text Да, Вы можете подключится к нам если Вы работаете в другом таксопарке, для этого просто пройдите регистрацию у нас на сайте. 
                
                    .faq__headline
                        h4.faq__title Как выплачиваются бонусы?
                        span.faq__line.faq__line--top
                        span.faq__line.faq__line--bottom
                    .faq__content
                        p.faq__text Бонусы выплачиваются ежедневно на вашу карту, для добавления карты нужно сделать хоть 
                            span 1 
                            | заказ и ожидать звонка с финансового отдела, фин отдел работает с 
                            span 10 
                            | до 
                            span 18 
                            | без выходных 
                
                    .faq__headline
                        h4.faq__title Что делать если долго не поступают заказы?
                            span.faq__line.faq__line--top
                            span.faq__line.faq__line--bottom
                    .faq__content
                        p.faq__text Если долго не поступают заказы или Вы столкнулись с другой проблемой, сразу звоните нам на горячую линию 
                            | +38 
                            span (063)  
                            | 187-15-62
                            | и наша техподдержка поможет Вам в любой ситуации. 