//- Footer

footer.footer
    .container
        .row.footer__top
            .logo.logo--footer  
                a(href="#").logo__link 
                    img(src="img/logoyataxist.png", alt="Yandex Taxist Logo")
            nav.nav
                .nav__list.nav__list--footer  
                    .nav__item.nav__item--active
                        a(href="#main").nav__link Главная
                    .nav__item
                        a(href="#places").nav__link О Нас
                    .nav__item
                        a(href="#conditions").nav__link Условия
                    .nav__item
                        a(href="#registration").nav__link Регистрация
        .row.contact#contacts
            .contact__mail.wow.slideInLeft
                i.fas.fa-envelope
                a(href="mailto:info@yandextaxist.com") info@yandextaxist.com   
            .contact__number.wow.slideInRight
                i.fas.fa-phone-square
                span +380631871562  
        .row.footer__bottom
            .footer__copyright © Copyright 2018 
                | , Все права защищены
            .footer__rules * Информационные материалы о Яндекс Такси использованы с сайта taxi.yandex.ru              