//- Header

header.header
    .container
        .row.header__wrapper
            .logo  
                a(href="#").logo__link 
                    img(src="img/logoyataxist.png", alt="YandexTaxist Logo")
            nav.nav
                .nav__list  
                    .nav__item.nav__item--active
                        a(href="#main").nav__link Главная
                    .nav__item
                        a(href="#places").nav__link О Нас
                    .nav__item
                        a(href="#conditions").nav__link Условия
                    .nav__item
                        a(href="#registration").nav__link Регистрация
                    .nav__item
                        a(href="#contacts").nav__link Контакты

//- Sandwich
.sandwich#js-sandwich
    .sandwich__list
        .sandwich__line   
        .sandwich__line    
        .sandwich__line               
