//- Hero

section.hero#main
    .container
        .hero__headline
            h1.hero__title.wow.slideInDown 
                span Я
                | ндекс Такси
            p.hero__subtitle.wow.slideInUp Подключайтесь к сети 
                span Я
                | ндекс.Такси через официального партнера и работайте на себя уже сегодня.
            a(href="#registration").btn Регистрация  