//- Cities

section.places#places
    .container
        .row.places__cities
            .places__city 
                button(data-city="kyiv").places__name Украина
            .places__city
                button(data-city="kharkiv").places__name Россия
            .places__city
                button(data-city="odessa").places__name Казахстан       
            .places__city
                button(data-city="lviv").places__name Узбекистан
            .places__city
                button(data-city="dnepr").places__name Киргизия
            .places__city
                button(data-city="dnepr").places__name Литва
            .places__city
                button(data-city="dnepr").places__name Израиль
