// FAQ

.faq {

    &__wrapper {
        width: 100%;
        margin: 3rem auto;

        @include mq('tablet', max) {
            padding: 0 .5rem;
        }
    }

    &__headline {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 4rem 0 2rem;
        margin-bottom: .5rem;
        border-radius: 5px;
        background: lighten($color-gray--middle, 20%);
        transition: all .3s ease-in-out;
        cursor: pointer;

        @include mq('phone-wide', max) {
            padding: .5rem 3rem .5rem 1.5rem;
        }

        &:hover {
            background: $color-yellow;
        }

        &.js-is-active {
            margin-bottom: 0;
            border-radius: 5px 5px 0 0;
            background: $color-yellow;

            .faq__line {
                transform: rotate(180deg);

                &--top {
                    transform: rotate(-135deg);
                }

                &--bottom {
                    transform: rotate(135deg);
                }
            }
        }
    }

    &__title {
        flex-grow: 1;
        text-align: left;
        padding: 2rem 1rem;
        font-size: 1.2rem;
        font-weight: 500;

        @include mq('phone-wide', max) {
            text-align: left;
            padding: 1rem 0;
            font-size: .9rem;
            font-weight: 600;
            line-height: 1.2rem;
        }
    }

    &__content {
        padding: 2rem 3rem;
        margin-bottom: .5rem;
        background: lighten($color-gray--middle, 20%);

        @include mq('phone-wide', max) {
            padding: 1rem 1.5rem;
        }

        &.js-is-active {
            border-top: none;
            border-radius: 0 0 5px 5px;
        }
    }

    &__text {
        text-align: left;
        margin: 0 auto;
        font-weight: 500;
        line-height: 1.5rem;

        span {
            color: $color-red;
        }

        @include mq('phone-wide', max) {
            font-size: 0.8rem;
            line-height: 1rem;
        }
    }

    &__line {
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 5px;
        background: lighten($color-black, 10%);
        transition: all .5s;

        &--top {
            top: 50%;
            right: 6%;
        }

        &--bottom {
            top: 50%;
            right: 6%;
            transform: rotate(90deg);
        }

        @include mq('phone-wide', max) {
            width: 15px;
            height: 2px;
            right: 1.2rem;
        }
    }
}