// Footer

.footer {
    border-top: 1px solid $color-yellow;
    background: $color-black;

    &__top {
        padding: 1.5rem 0;
        border-bottom: 1px solid rgba($color-gray--dark, .3);

        @include mq('tablet', max) {
            display: none;
        }
    }

    &__bottom {
        padding: 2rem 0 3rem;
        border-top: 1px solid rgba($color-gray--dark, .3);
        text-align: center;

        @include mq('phone-wide', max) {
            padding: 3rem;
        }
    }

    &__copyright {
        width: 100%;
        margin-bottom: .5rem;
        font-size: 0.8em;
        font-weight: 300;
        color: darken($color-gray, 20%);
    }

    &__rules {
        width: 100%;
        text-align: center;
        color: $color-gray--dark;
        font-weight: 300;
        font-size: 0.6rem;
    }
}